<span class="user">

  <span>
    <% if request.path == user_path(user) %>
     Написал <%= user.name %>
    <% else %>
      Написал <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>